Repository owncloud/brute_force_protection, pull requests merged in 2018-11, with the labels that each got.

#46 Move all tests from travis to drone
  .drone.yml
  .gitignore
  .travis.yml
  Makefile
  README.md
  composer.json
  composer.lock
  phpunit.xml
  tests/bootstrap.php
  tests/phpunit.xml
  vendor-bin/owncloud-codestyle/composer.json
  vendor-bin/owncloud-codestyle/composer.lock
Labels: 3 - To review, QA-team, dev:acceptance-tests

#47 dropped lock file for vendor-bin dependencies
  .gitignore
  vendor-bin/owncloud-codestyle/composer.lock
Labels: 3 - To review, QA-team

#48 adjust acceptance test time constant names
  tests/acceptance/features/lib/BlockedUserPage.php
Labels: 4 - To release, QA-team, dev:acceptance-tests
