Repository owncloud/brute_force_protection, pull requests merged in 2018-10, with the labels that each got.

#37 Refactor tests 20181003
  tests/acceptance/features/apiBruteForceProtection/bruteforceprotection.feature
  tests/acceptance/features/webUIBruteForceProtection/bruteforceprotection.feature
Labels: 3 - To review, QA-team, dev:acceptance-tests

#39 Handle blank values when setting in acceptance tests
  tests/acceptance/features/bootstrap/BruteForceProtectionContext.php
Labels: 3 - To review, QA-team, dev:acceptance-tests

#42 Bump max-version to 11.0.0.0
  appinfo/info.xml
Labels: 3 - To review, QA-team

#45 failOnWarning="true"
  tests/phpunit.xml
Labels: 3 - To review
