Repository owncloud/brute_force_protection, pull requests merged in 2019-07, with the labels that each got.

#67 Run acceptance tests against latest stable release of core
  .drone.yml
Labels: 3 - To review, Drone, QA-team

#68 Test against core 10.2.1
  .drone.yml
Labels: 3 - To review, QA-team, dev:acceptance-tests

#69 Remove stable10 test jobs
  .drone.yml
Labels: 4 - To release, Drone, QA-team
